@page "/customermgr"
@page "/"

<h2>Customer Infos</h2>
<hr />
<EditForm Model="@ForBind_Customer" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="ProductName" class="control-label">Customer Name</label>
                <input for="ProductName" class="form-control" @bind="@ForBind_Customer.NAME" />
                <ValidationMessage For ="@(()=>ForBind_Customer.NAME)"/>
            </div>
            <div class="form-group">
                <label for="PhoneNumber" class="control-label">Phone Number</label>
                <input for="PhoneNumber" class="form-control" @bind="@ForBind_Customer.PHONE_NO" />
                <ValidationMessage For="@(()=>ForBind_Customer.PHONE_NO)" />
            </div>
        </div>
    </div>

    @if (ForBind_Customer.IsUpdate)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary"  value="Update" />

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save" />

                </div>
            </div>
        </div>
    }

    @if (ForBind_CustomerEntries == null)
    {
        <h3>Please wait, Loading the data.</h3>
    }
    else
    {
        <table class='table'>
            <thead>
                <tr>
                    <th>In-Valid</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in ForBind_CustomerEntries)
                {
                    <tr>
                        <checkbox>@customer.IS_DELETE</checkbox>
                        <td>@customer.NAME</td>
                        <td>@customer.PHONE_NO</td>
                        <td>
                            <input type="button" value="Edit" disabled=@customer.IS_DELETE @onclick="() => GetCustomerBySN(customer.SN)" class="btn btn-primary" />
                            <input type="button" value="Delete" disabled=@customer.IS_DELETE @onclick="() => DeleteSales_SetState(customer.SN)" class="btn btn-danger" />

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</EditForm>

@code {
    private async Task HandleValidSubmit()
    {
        await SaveCustomer();
        
    }
}